.form-and-massive-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to next line if necessary */
    gap: 40px; /* Adjust the gap between form and massive section */
}

.massive-addition-section {
    flex: 1; /* Allow the massive addition section to grow and take available space */
}

.personal-informations-form {
    display: flex;
    flex-direction: column;
}

.form-content {
    flex: 1; /* Allow the form content to take up remaining space */
    margin-right: 20px; /* Optional: Add margin between form content and button */
}

.button-container {
    align-self: flex-end; /* Aligns the button to the end (right) of the form container */
    margin-top: 10px; /* Optional: Add margin between form content and button */
}
