<div class="content">
  <xng-breadcrumb>
    <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info">
      <mat-icon *ngIf="info">{{ info }}</mat-icon>
      <ng-container>{{ breadcrumb | translate }}</ng-container>
    </ng-container>
  </xng-breadcrumb>
  <mat-card>
    <mat-card-title>
      {{ "ideasContent.ideaDetailsContent.ideaDetailsText" | translate }}
    </mat-card-title>
    <mat-card-content>
      <div class="informations">
        <div class="idea-informations">
          <div class="date">
            <p>
              {{ "ideasContent.ideaDetailsContent.ideeDate" | translate }} :
            </p>
            <p>{{ ideaDetails.createdAt | date : 'yyyy-MM-dd hh:mm a'}}</p>
          </div>
          <!-- <div class="type">
            <p>
              {{ "ideasContent.ideaDetailsContent.ideaType" | translate }} :
            </p>
            <p *ngIf="ideaDetails.status === 'INPROGRESS'">
              {{ "ideasContent.ideaDetailsContent.inProgress" | translate }}
            </p>  
            <p *ngIf="ideaDetails.status === 'CREATED'">
              {{ "ideasContent.ideaDetailsContent.created" | translate }}
            </p>  
            <p *ngIf="ideaDetails.status === 'CLOSED'">
              {{ "ideasContent.ideaDetailsContent.closed" | translate }}
            </p>
          </div> -->
          <div class="segment">
            <p>{{ "ideasContent.ideaDetailsContent.segment" | translate }} :</p>
            <p>{{ ideaDetails.segment }}</p>
          </div>
          <div class="line">
            <p>{{ "ideasContent.ideaDetailsContent.line" | translate }} :</p>
            <p>{{ ideaDetails.line }}</p>
          </div>
        </div>
      </div>
      <!-- <mat-form-field appearance="outline" class="description-form-item">
        <mat-label
          >{{
            "ideasContent.ideaDetailsContent.detailledDescription" | translate
          }}
          :</mat-label
        > -->
        <textarea matInput  [readonly]="true"
        [(ngModel)]="ideaDetails.description"></textarea>
      <!-- </mat-form-field> -->

      <form [formGroup]="ideaValidationForm">
        <div class="idea-validation">
          <label class="validation-text">{{
            "ideasContent.ideaValidationContent.ideaValidation" | translate
          }}</label>
          <mat-radio-group class="validation-choice"  
          formControlName="choice">
            <mat-radio-button 
            value="yes"
            >{{
              "ideasContent.ideaValidationContent.yes" | translate
            }}</mat-radio-button>
            <mat-radio-button 
            value="no"
            checked
            >{{
              "ideasContent.ideaValidationContent.no" | translate
            }}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="motifs-refus">
          <span class="motifs-text">{{
            "ideasContent.ideaValidationContent.refusMotifs" | translate
          }}</span>
            <select formControlName="motif" 
            class="form-select"
            [(ngModel)]="motifByDefault">
              <option 
               *ngFor="let motif of motifs">{{
                motif
              }}</option>
            </select>
        </div>
        <div class="idea-category">
          <span class="category-text">{{
            "ideasContent.ideaValidationContent.ideaCategory" | translate
          }}</span>

            <select formControlName="category" 
            class="form-select"
            [(ngModel)]="categoryByDefault">
              <option [value]="cat" *ngFor="let cat of categories">{{
                cat
              }}</option>
            </select>
        </div>
    </form>
      <button 
      mat-raised-button
      class="send-btn"
      color="primary"
      (click)="sendChoice()"
      >
      {{
        "ideasContent.ideaValidationContent.envoyer" | translate
      }}
    </button>
    </mat-card-content>
  </mat-card>
</div>
