<div class="content d-flex justify-content-center align-items-center mw-100 vh-100">
  <mat-card>
    <mat-card-content>
      <div class="welcome-section">
        <img class="leoni" src="./assets/images/Logo-CIP-V1.png" />
        <h1 class="welcome">{{ "loginContent.welcome" | translate }}</h1>
      </div>
  
      <div class="employee-login-form">
        <span class="title">
          {{ "loginContent.connexion" | translate }}
        </span>
        <!-- <span class="title">
          {{ "loginContent.descriptionEmployee" | translate }}
        </span> -->
        <form [formGroup]="employeLoginForm" (keydown)="enterSubmit($event)">
          <div class="labels">
            <mat-label class="self-start">{{
              "loginContent.registrationPlaceholder" | translate
            }}</mat-label>
            <mat-label>{{
              "loginContent.registrationPlaceholderAR" | translate
            }}</mat-label>
          </div>
  
            <input
            class="form-control form-control-lg bg-light matricule-input"
              type="text"
              [placeholder]="'Ex : 10236587'"
              inputrestriction="[0-9]"
              (keypress)="omit_special_char($event)"
              formControlName="matricule"
            />
          <div class="submit-btn">
            <button
            [disabled]="!employeLoginForm || employeLoginForm.invalid"
            (click)="employeeLogin()"
            mat-flat-button
            color="primary"
            [mtBasicSpinner]="isLoading"
            [class.spinner]="isLoading"
          >
            {{ "loginContent.connect" | translate }}
          </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
  
</div>
