<div class="flex flex-col justify-center items-center h-full">
  <mat-card>
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <i class="material-icons text-6xl">lock</i>
      <div
        class="code-verification-sent"
      >
        <p class="verification-title">
          Nous vous avons envoyé un code de vérification de connexion par EMAIL
        </p>
        <p class="verification-description">
          Veuillez récupérer sur votre email {{ emailMasked }} un code à six chiffres
          et entrez-le ci-dessous pour vous connecter
        </p>

        <form [formGroup]="verifyOTPCodeForm" (keydown)="enterSubmit($event)">
          <mat-form-field appearance="fill">
            <mat-error></mat-error>
            <mat-label>Verification Code</mat-label>
            <input matInput type="text" formControlName="verificationCode" />
          </mat-form-field>
          <mat-error
            *ngIf="
              this.verifyOTPCodeForm
                .get('verificationCode')
                .hasError('minLength')
            "
          >
            le code doit être au minimum 6 chiffres
          </mat-error>
          <button 
          [class.spinner]="isLoading"
          [mtBasicSpinner]="isLoading" 
          (click)="verifyCode()" 
          mat-flat-button color="primary">
            Vérifier
          </button>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>
</div>
