<app-header></app-header>

<div class="content">
  <xng-breadcrumb>
    <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info">
      <mat-icon *ngIf="info">{{ info }}</mat-icon>
      <ng-container>{{ breadcrumb | translate}}</ng-container>
    </ng-container>
  </xng-breadcrumb>

  <div class="filters">
    <select id="month" class="form-select">
      <option selected disabled>
        {{ "rankingContent.filters.month" | translate }}
      </option>
    </select>
    <select id="date" class="form-select">
      <option selected disabled>
        {{ "rankingContent.filters.date" | translate }}
      </option>
    </select>
    <select id="site" class="form-select">
      <option selected disabled>
        {{ "rankingContent.filters.site" | translate }}
      </option>
    </select>
    <select id="plant" class="form-select">
      <option selected disabled>
        {{ "rankingContent.filters.plant" | translate }}
      </option>
    </select>
    <select id="segment" class="form-select">
      <option selected disabled>
        {{ "rankingContent.filters.segment" | translate }}
      </option>
    </select>
    <select id="line" class="form-select">
      <option selected disabled>
        {{ "rankingContent.filters.line" | translate }}
      </option>
    </select>
  </div>

  <mat-card>
    <mat-card-title>
      {{ "rankingContent.rankingListTitle" | translate }}
    </mat-card-title>
    <mat-card-content>
      <div class="ranking-table">
        <common-table
          [isEvenRowsChangeColor]="true"
          [isShowPaginator]="true"
          [dataSource]="rankingDataSource"
          [tableColumns]="rankingColumns"
          [isRakingList]="true"
          [confirmAction]="true"
          [role]="currentRole"
          (action)="rakingActions($event)"
          class="mat-elevation-z8"
        ></common-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>
