<div class="content">
    <mat-card class="card-form">
        <mat-card-header>
          <mat-card-title>Paramètres</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="changePasswordForm">
            <mat-form-field appearance="fill">
              <mat-label>Nouveau mot de passe</mat-label>
              <input matInput type="password" formControlName="newPassword" />
              <mat-icon matSuffix>lock</mat-icon>
              <mat-error
                *ngIf="changePasswordForm.get('newPassword').hasError('minLength')"
              >
                Mot de passe doit être au minimum 6 caractères
              </mat-error>
              <mat-error
                *ngIf="changePasswordForm.get('newPassword').hasError('required')"
              >
                le mot de passe est obligatoire
              </mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="fill">
              <mat-error></mat-error>
              <mat-label>Confirmer mot de passe</mat-label>
              <input matInput type="password" formControlName="confirmNewPassword" />
              <mat-icon matSuffix>lock</mat-icon>
              <mat-error
              *ngIf="changePasswordForm.get('newPassword').hasError('minLength')"
            >
              Mot de passe doit être au minimum 6 caractères
            </mat-error>
            <mat-error
              *ngIf="changePasswordForm.get('newPassword').hasError('required')"
            >
              le mot de passe est obligatoire
            </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions> 
          <button (click)="save()" mat-flat-button color="primary">
              Enregistrer
            </button>
        </mat-card-actions>
      </mat-card>
</div>

