.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh);
    .card-form {
        width: 50%;
        height: fit-content;
        padding-left: 50px;
        padding-bottom: 50px;
        margin: 0;
        mat-card-content {
            padding-top: 20px;
        }
    }
}

