<div class="kaizen-card-modal">
  <fa-icon class="close-icon" (click)="this.dialogRef.close()" [icon]="close"></fa-icon>
  <span class="title">{{
    "ideasContent.ideaSelectionContent.kaizenCard" | translate
  }}</span>

  <div (click)="cardKaizenUploader.click()" class="card-kaizen-upload">
    <fa-icon [icon]="faAttachment"></fa-icon>
    <input
      type="file"
      hidden
      #cardKaizenUploader
      (change)="uploadCardKaizen($event)"
    />
  </div>

  <p class="message">
    {{ "ideasContent.ideaSelectionContent.joinKaizenCard" | translate }}
  </p>

  <p class="filename">{{ filename }}</p>

  <button
    mat-raised-button
    color="primary"
    [class.spinner]="isLoading"
    [mtBasicSpinner]="isLoading"
    (click)="closeModal()"
  >
    {{ "ideasContent.ideaSelectionContent.ok" | translate }}
  </button>
</div>
