<div class="content">
  <xng-breadcrumb >
    <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info" separator=">">
      <mat-icon *ngIf="info">{{ info }}</mat-icon>
      
      <ng-container>{{ breadcrumb | translate}}</ng-container>
    </ng-container>
  </xng-breadcrumb>
  <mat-card>
    <mat-card-title>
      {{ "ideasContent.ideaDetailsContent.ideaDetailsText" | translate }}
    </mat-card-title>
    <mat-card-content>
      <div class="informations">
        <div class="idea-informations">
          <div class="date">
            <p>
              {{ "ideasContent.ideaDetailsContent.ideeDate" | translate }} :
            </p>
            <p>{{ideaCreatedDate}}</p>
          </div>
          <div class="type">
            <!-- <p>
              {{ "ideasContent.ideaDetailsContent.ideaType" | translate }} :
            </p>
            <p>{{ ideaDetails.type }}</p> -->
            <p>{{"ideasContent.ideaDetailsContent.category"|translate}} :</p>
            <p *ngIf="category !== 'NONE'">{{category}}</p>
          </div>
          <div class="segment">
            <p>{{ "ideasContent.ideaDetailsContent.segment" | translate }} :</p>
            <p>{{ ideaDetails?.segment }}</p>
          </div>
          <div class="line">
            <p>{{ "ideasContent.ideaDetailsContent.line" | translate }} :</p>
            <p>{{ ideaDetails?.line }}</p>
          </div>
        </div>

        <div class="employee-informations">
          <div class="matricule" *ngIf="ideaDetails?.expert ">
            <p>
              {{ "ideasContent.ideaDetailsContent.matricule" | translate }} :
            </p>
            <p>{{ideaDetails?.matricule}}</p>
          </div>
          <div class="motifs">
            <p>{{ "ideasContent.ideaDetailsContent.motif" | translate }} :</p>
            <p></p>
          </div>
          <div class="contre-maitre">
            <p>
              {{ "ideasContent.ideaDetailsContent.contreMaitre" | translate }} :
            </p>
            <p>{{ ideaDetails?.contreMaitre}}</p>
          </div>
          <div class="expert">
            <p>{{ "ideasContent.ideaDetailsContent.expert" | translate }} :</p>
            <p>{{ ideaDetails?.expert }}</p>
          </div>
        </div>

        <div class="import-kaizen-card" >
          <div class="images-before-and-after" *ngIf="ideaDetails?.kaizanBefore !== null && ideaDetails?.kaizanAfter !== null">
            <fa-icon [icon]="faDownload"></fa-icon>
            <div class="images">
              <a
                (click)="openKaizenImage(ideaDetails?.kaizanBefore)"
              >
                <p>{{ideaDetails?.kaizanBefore}}</p>
              </a>
              <a
               (click)="openKaizenImage(ideaDetails?.kaizanAfter)"
              >
                <p>{{ideaDetails?.kaizanAfter}}</p>
              </a>
            </div>
          </div>
          <!-- <div class="card-kaizen-upload" *ngIf="ideaDetails?.decision === 'EXECUTED'" >
            <fa-icon [icon]="faUpload" (click)="openKaizenCardModal()"></fa-icon>
            <a  (click)="getKaizenImageByName(ideaDetails?.kaizen)">
              <p>{{ideaDetails?.kaizen}}</p>
            </a>
          </div> -->
        </div>
      </div>

        <textarea matInput [(ngModel)]="ideaDescription" [disabled]="true"></textarea>

      <form [formGroup]="ideaSelectionForm" >
        <div class="idea-selection-motifs-generalisation-items">
          <div class="idea-selection">
            <span class="text">{{
              "ideasContent.ideaValidationContent.ideaValidation" | translate
            }}</span>
            <mat-radio-group 
            [(ngModel)]="validChoice"
            class="choice" formControlName="validationChoice">
              <mat-radio-button value="yes" class="example-margin">{{
                "ideasContent.ideaValidationContent.yes" | translate
              }}</mat-radio-button>
              <mat-radio-button class="example-margin" value="no">{{
                "ideasContent.ideaValidationContent.no" | translate
              }}</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="motifs-refus">
            <label class="motifs-text">{{
              "ideasContent.ideaValidationContent.refusMotifs" | translate
            }}</label>

              <select
              class="form-select"
                formControlName="motif"
                [(ngModel)]="motifByDefault"
              >
                <option [value]="motif" *ngFor="let motif of motifs">{{
                  motif
                }}</option>
              </select>
          </div>
          <div class="idea-generalization">
            <span class="text">{{
              "ideasContent.ideaValidationContent.generalizable" | translate
            }}</span>
            <mat-radio-group
              formControlName="generalizableChoice"
              class="choice"
              [(ngModel)]="globalChoice"

            >
              <mat-radio-button value="yes">{{
                "ideasContent.ideaValidationContent.yes" | translate
              }}</mat-radio-button>
              <mat-radio-button value="no">{{
                "ideasContent.ideaValidationContent.no" | translate
              }}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="idea-note">
          <div class="impact-originalite">
            <div class="originality">
              <label
                >{{
                  "ideasContent.ideaDetailsContent.ideaOriginality" | translate
                }}:</label
              >
              <input
                formControlName="originaliteNote"
                type="number"
                name="originalite"
                appOnlynumber
                [(ngModel)]="originaliteNote"
                (input)="checkOriginaliteValue($event)"
                placeholder="..."
                [max]="10"
              />
              <span>/10</span>
            </div>
            <mat-error
            *ngIf="ideaSelectionForm.get('originaliteNote').hasError('nonZero')"
          >
           originalite note should be positive
          </mat-error>
          <mat-error *ngIf="isOriginaliteValueValid">
            originalite note cannot be greater than 10
          </mat-error>
            <div class="impact">
              <label
                >{{
                  "ideasContent.ideaDetailsContent.plantImpact" | translate
                }}:</label
              >
              <input
                type="number"
                name="impact"
                [(ngModel)]="impactNote"
                formControlName="impactNote"
                (input)="checkImpactValue($event)"
                placeholder="..."
                [max]="10"
                appOnlynumber
              />
              <span>/10</span>
            </div>
            <mat-error *ngIf="isImpactValueValid">
              impact note  cannot be greater than 10
            </mat-error>
            <mat-error
            *ngIf="ideaSelectionForm.get('impactNote').hasError('nonZero')"
          >
           impact note should be positive
          </mat-error>
          </div>
          <p>
            {{ "ideasContent.ideaDetailsContent.totalNote" | translate }}
            {{ noteTotal }}
          </p>
        </div>
      </form>
      <button
      *ngIf="ideaDetails?.expert === null"
      (click)="sendChanges()"
        mat-raised-button
        class="send-btn"
        color="primary"
      >
        {{ "ideasContent.ideaValidationContent.envoyer" | translate }}
      </button>
      <button 
      *ngIf="ideaDetails?.expert !== null"
      [mtBasicSpinner]="isLoading" 
      [class.spinner]="isLoading"
      (click)="closeIdea()"
      mat-raised-button
        color="primary"
      >
      {{ "ideasContent.ideaValidationContent.close" | translate }}
      </button>
    </mat-card-content>
  </mat-card>
</div>
