<div class="content">
  <xng-breadcrumb>
    <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info">
      <mat-icon *ngIf="info">{{ info }}</mat-icon>
      <ng-container>{{ breadcrumb }}</ng-container>
    </ng-container>
  </xng-breadcrumb>

  <div class="information">
    <fa-icon [icon]="faInformation"></fa-icon>
    <div class="information-body">
      <p class="information-title">
        {{ "segementsContent.addSegmentForm.information" | translate }}
      </p>
      <p class="information-subtitle">
        {{ "segementsContent.addSegmentForm.infomationText" | translate }}
      </p>
    </div>
  </div>

  <mat-card class="add-segment-card">
    <mat-card-header>
      <mat-card-title>
        {{ "segementsContent.addSegmentForm.chooseText" | translate }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="addSegmentForm">
          <mat-form-field>
            <mat-label>   {{ "segementsContent.addSegmentForm.site" | translate }}</mat-label>
            <mat-select
              formControlName="site"
            >
              <mat-option 
              [value]="site"
              *ngFor="let site of sites">{{ site }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>   {{ "segementsContent.addSegmentForm.plantName" | translate }}</mat-label>
            <mat-select
              formControlName="plant"
            >
              <mat-option 
              [value]="plant"
              *ngFor="let plant of plants">{{ plant }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field [floatLabel]="'auto'">
            <mat-label>
              {{ "segementsContent.addSegmentForm.nameOfNewSegment" | translate }}</mat-label
            >
            <input type="text" matInput formControlName="segmentName" />
          </mat-form-field>
          <mat-form-field [floatLabel]="'auto'">
            <mat-label>
                {{
              "segementsContent.linesNumber" | translate
            }}</mat-label>
            <input type="number" matInput formControlName="linesNumber" />
          </mat-form-field>
      </form>
      <button
        (click)="addNewSegment()"
        class="add-btn"
        mat-raised-button
        color="primary"
      >
        {{ "segementsContent.addSegmentForm.add" | translate }}
      </button>
      <div class="or-text">
        <hr />
        <p>{{ "segementsContent.addSegmentForm.or" | translate }}</p>
        <hr />
      </div>

      <p class="mat-mdc-card-title">
        {{ "segementsContent.addSegmentForm.addMassifSegments" | translate }}
      </p>

      <file-uploader
      (sendUploadedFiles)="getUploadedFiles($event)"
      ></file-uploader>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>
</div>
