table {
  width: 100%;
}

.btn-edit {
  text-align: right;
}

.form-input {
  padding-top: 10px;
}
.save-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  background-color: var(--color-blue-lighter);
  border-radius: 5px;
  color: white;
  font-weight: 500;
}


::ng-deep .mat-mdc-header-row{
  .mat-mdc-header-cell{
    font-family: "Poppins", sans-serif;
  }
}

::ng-deep .mat-mdc-row {
  .mat-mdc-cell{
    font-family: "Poppins", sans-serif;
 
  }
}
.changeEvenRowsColor.mat-mdc-row:nth-child(odd) {
  background-color: #f2f2f2;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
}

.export-text{
  cursor: pointer;
}


::ng-deep .mat-mdc-paginator {
  .mat-paginator-page-size {
    display: none !important;


  }

  .mat-paginator-range-label {
    display: none !important;
  }

  .mat-mdc-select-trigger{
    font-family: "Poppins", sans-serif;

  }

  .mat-mdc-paginator-page-size-label {
    order: 1;
     font-family: "Poppins", sans-serif;
  }
  .mat-mdc-paginator-range-label {
    order: 2;
     font-family: "Poppins", sans-serif;
  }

  .mat-mdc-paginator-navigation-previous {
    order: 3;
     font-family: "Poppins", sans-serif;
  }
  .mat-mdc-paginator-navigation-next {
     font-family: "Poppins", sans-serif;

    order: 4;
  }
}

.medal{
  display: flex;
  align-items: center;
  gap: 10px;
  fa-icon{
    font-size:1rem;
  }
  p{
    margin:0!important;
    font-size:14px;
  }
}

