<table
  mat-table
  [dataSource]="newdataSource"
  matSort
  (matSortChange)="sortData($event)"
>
  <ng-container
    *ngFor="let column of tableColumns"
    [matColumnDef]="column.columnDef"
  >
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ column.header | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div *ngIf="!row.isAdd">
        
          <!-- <div *ngIf="column.isDate === true;else isNormalRow">
            {{ row[column.columnDef] | date : 'dd/MM/yyyy' }}
          </div>
        <ng-template #isNormalRow>
          {{ row[column.columnDef] }}
        </ng-template> -->
        <div *ngIf="column.isFileDownload === true;else ideaState" (click)="getKaizenCardByName(row[column.columnDef])">
          <a class="export-text"
          > {{row[column.columnDef]}}</a>
        </div>
        <ng-template #ideaState>
          <div *ngIf="column.isState === true; else medalColumn">
            <fa-icon
            [icon]="battery"
            matTooltip="{{ getIdeaStatusTooltip(row[column.columnDef]) }}"
            matTooltipPosition="right"
            aria-label="Idea Status"
            [ngClass]="{'battery-icon-rejection ': row[column.columnDef] === 'REFUSED',
          'battery-icon-validated' : row[column.columnDef] === 'VALIDATED' ,
          'battery-icon-preselected' : row[column.columnDef] === 'PRESELECTED' ||  row[column.columnDef] === 'SELECTED' || row[column.columnDef] === 'EXECUTED',
        'battery-icon-waiting' :  row[column.columnDef] === 'WAITING'
        }"
          ></fa-icon>
            <!-- <div *ngIf="row[column.columnDef] === 'REFUSED'" class="state-rejected">
              <fa-icon [icon]="battery"></fa-icon>

              {{"ideasContent.refusee" | translate }}
            </div>
            <div *ngIf="row[column.columnDef] === 'VALIDATED'" class="state-validated">
              {{"ideasContent.validee" | translate }}
            </div>
            <div *ngIf="row[column.columnDef] === 'PRESELECTED' " 
            class="state-preselected">
            {{"ideasContent.preselectionne" | translate }}
            </div>
            <div *ngIf=" row[column.columnDef] === 'SELECTED' " 
            class="state-preselected">
            {{"ideasContent.selectionnee" | translate }}
            </div>
            <div *ngIf=" row[column.columnDef] === 'EXECUTED'" 
            class="state-preselected">
            {{"ideasContent.executee" | translate }}
            </div> -->
          </div>
        </ng-template>

        <ng-template #medalColumn>
          <div *ngIf="column.isMedalIcon === true; else normalColumn" class="medal">
            <fa-icon [icon]="medal"></fa-icon>
           <p> {{row[column.columnDef]}}</p>
          </div>
        </ng-template>

        <ng-template #normalColumn>
          {{row[column.columnDef]}}
        </ng-template>

        <div  *ngIf="column.columnDef === 'isAssign'" >
            <mat-checkbox [color]="'primary'"></mat-checkbox>
        </div>
      </div>

      <div [ngSwitch]="column.type" *ngIf="row.isAdd ">
        <mat-form-field class="form-input" *ngSwitchDefault>
          <mat-label>{{ column.placeholder | translate }}</mat-label>
          <input 
          [(ngModel)]="row[column.columnDef]"
          matInput [type]="column.type" />
        </mat-form-field>
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button
           mat-raised-button
            (click)="saveRow(row)"
            color="primary"
          >
          {{"rolesContent.addRoleBtn" | translate}}
          </button>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit-delete-action">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell
    class="flex justify-end"
      *matCellDef="let element"
      edit-delete-buttons
      [value]="element"
      (buttonAction)="onTableAction($event, element)"
    >
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="details-action">
    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
    <mat-cell
      *matCellDef="let element"
      class="flex justify-end"
      details-button
      [value]="element"
      (buttonAction)="onTableAction($event, element)"
    >
    </mat-cell>

  </ng-container>
  <ng-container matColumnDef="edit-deactivate-actions" class="justify-end">
    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
    <mat-cell
    class="flex justify-end"
    *matCellDef="let element"
    edit-deactivate-buttons
    [value]="element"    
    (EditDeactivateAction)="onTableAction($event, element)"
    ></mat-cell>
  </ng-container>  

  <ng-container matColumnDef="edit-action" class="justify-end">
    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
    <mat-cell 
    class="flex justify-end"
    *matCellDef="let element"
    edit-button
    [value]="element"
    (editAction)="onTableAction($event, element)">
  </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="edit-details-actions" class="justify-end">
    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
    <mat-cell
    class="flex justify-end"
    *matCellDef="let element"
    edit-details-actions
    [value]="element"    
    (editDetailsAction)="onTableAction($event, element)"
    ></mat-cell>
  </ng-container>

  <ng-container matColumnDef="confirm-action" class="justify-end">
    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
    <mat-cell
    class="flex justify-end"
    *matCellDef="let element"
    confirm-action
    [value]="element"    
    (confirmAction)="onTableAction($event, element)"
    ></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row 
  [ngClass]="{'changeEvenRowsColor ': isEvenRowsChangeColor}"


  *matRowDef="let row; columns: displayedColumns"></mat-row>
</table>

<mat-paginator
  *ngIf="isShowPaginator"
  [length]="length"
  #paginator
  [pageSize]="pageSize"
  (page)="getPaginatorData($event)"
  [pageSizeOptions]="[25,50,75,100]"
>
</mat-paginator>
