<div class="flex flex-col justify-center items-center h-full">
  <mat-card>
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <i class="material-icons text-6xl">lock</i>
      <div *ngIf="isVerificationCodeSent === true" class="code-verification-sent">
        <p class="verification-title">
          Nous vous avons envoyé un code de 
vérification de connexion par EMAIL
        </p>
        <p class="verification-description" *ngIf="errors.length === 0">
          Veuillez récupérer sur votre email {{email_reset}} un 
code à six chiffres et entrez-le ci-dessous pour vous 
connecter
        </p>

        <div *ngIf="errors.length > 0">
          <p *ngFor="let error of errors" class="error-text">
            {{error}}
            </p>
        </div>


        <form [formGroup]="verifyCodeForm">

          <mat-form-field appearance="fill">
            <mat-error></mat-error>
            <mat-label>Verification Code</mat-label>
            <input matInput type="text" [(ngModel)]="verificationCode" 
            formControlName="verificationCode" 
            
            >
          </mat-form-field>
          <mat-error *ngIf="this.verifyCodeForm.get('verificationCode').hasError('minLength')">
            le code doit être au minimum 6 chiffres
          </mat-error>
          <!-- <mat-error *ngIf="this.verifyCodeForm.get('verificationCode').hasError('required')">
          le code est  obligatoire
          </mat-error> -->
          <button (click)="verifyCode()" mat-flat-button color="primary">
            Vérifier
          </button>
        </form>

      </div>
      <form [formGroup]="resetPasswordForm" *ngIf="isVerificationCodeSent === false">
        <h2>Mot de passe oublié ?</h2>
        <h4>Veuillez entrer votre adresse Email !</h4>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput 
          [(ngModel)]="email_reset"
          formControlName="email" />
          <mat-icon matPrefix>email</mat-icon>
          <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
            l'email est obligatoire
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
            le champ doite être un email
          </mat-error>
        </mat-form-field>

        <button (click)="resetPassword()" mat-flat-button color="primary">
          Réinitialiser le mot de passe
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>
</div>
