<div class="content">
    <xng-breadcrumb>
      <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info">
        <mat-icon *ngIf="info">{{ info }}</mat-icon>
        <ng-container>{{ breadcrumb | translate}}</ng-container>
      </ng-container>
    </xng-breadcrumb>
    <mat-card>
      <mat-card-title>
        {{ "ideasContent.ideaDetailsContent.ideaDetailsText" | translate }}
      </mat-card-title>
      <mat-card-content>
        <div class="informations">
            <div class="idea-informations">
              <div class="date">
                <p>
                  {{ "ideasContent.ideaDetailsContent.ideeDate" | translate }} :
                </p>
                <p>{{ ideaCreatedDate}}</p>
              </div>
              <div class="type">
                <p>{{"ideasContent.ideaDetailsContent.category"|translate}} :</p>
                <p *ngIf="ideaDetails.category !== 'NONE'">{{ideaDetails.category}}</p>
              </div>
              <div class="segment">
                <p>{{ "ideasContent.ideaDetailsContent.segment" | translate }} :</p>
                <p>{{ ideaDetails.segment }}</p>
              </div>
              <div class="line">
                <p>{{ "ideasContent.ideaDetailsContent.line" | translate }} :</p>
                <p>{{ ideaDetails.line }}</p>
              </div>
            </div>

            <div class="import-kaizen-card" >
                <div class="images-before-and-after">
                  <div class="images">
                    <div class="image-item" *ngIf="ideaDetails.kaizanBefore !== null">
                      <label>{{"ideasContent.ideaDetailsContent.imageBefore"|translate}} :</label>
                      <a
                        (click)="getKaizenImageByName(ideaDetails.kaizanBefore)"
                      >
                        <p>{{this.ideaDetails.kaizanBefore}}</p>
                      </a>
                    </div>
                    <div class="image-item" *ngIf="ideaDetails.kaizanAfter !== null">
                      <label>{{"ideasContent.ideaDetailsContent.imageAfter"|translate}} :</label>
                      <a
                      (click)="getKaizenImageByName(ideaDetails.kaizanAfter)"
                      >
                        <p>{{this.ideaDetails.kaizanAfter}}</p>
                      </a>
                    </div>
                 
             
                  </div>
                </div>
                <div class="card-kaizen-upload" (click)="openKaizenCardModal()">
                  <fa-icon [icon]="faUpload"></fa-icon>
                  <p class="filename">{{ filename }}</p>
                </div>
              </div>
          </div>
    
          <textarea  matInput [(ngModel)]="ideaDetails.description" [disabled]="true"></textarea>
  
        <form [formGroup]="ideaExecutionForm">
            <div class="idea-execution">
              <label class="execution-text">{{
                "ideasContent.ideaValidationContent.ideaValidation" | translate
              }}</label>
              <mat-radio-group class="execution-choice"  
              formControlName="choice">
                <mat-radio-button 
                value="yes"
                class="example-margin">{{
                  "ideasContent.ideaValidationContent.yes" | translate
                }}</mat-radio-button>
                <mat-radio-button class="example-margin"
                value="no"
                checked
                >{{
                  "ideasContent.ideaValidationContent.no" | translate
                }}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="motifs-refus">
              <span class="motifs-text">{{
                "ideasContent.ideaValidationContent.refusMotifs" | translate
              }}</span>
                <select formControlName="motif" 
                class="form-select"
                [(ngModel)]="motifByDefault">
                  <option 
                   *ngFor="let motif of motifs">{{
                    motif
                  }}</option>
                </select>

            </div>
        </form>
          <button 
          mat-raised-button
          color="primary"
          [mtBasicSpinner]="isLoading" 
          [class.spinner]="isLoading"
          (click)="sendChoice()"
          >
          {{
            "ideasContent.ideaValidationContent.envoyer" | translate
          }}
        </button>
  
      </mat-card-content>
    </mat-card>
  </div>
  