.footer{
    display:flex;
    flex-direction: row;
    gap:10px;
    align-items: baseline;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    // background-color: var(--color-background);
    background: linear-gradient(to left , #77E4C8 ,#36C2CE , #478CCF , #4535C1);

    padding-top:50px;
    padding-bottom:50px;
    fa-icon{
        font-size:1rem;
    }
    h1{
        font-size:1rem;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
    }
}