<div class="content">
  <xng-breadcrumb>
    <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info">
      <mat-icon *ngIf="info">{{ info }}</mat-icon>
      <ng-container>{{ breadcrumb }}</ng-container>
    </ng-container>
  </xng-breadcrumb>
  <mat-card>
    <mat-card-title>{{
      "usersManagmentContent.addUser" | translate
    }}</mat-card-title>
    <mat-card-content>
      <mat-stepper
        linear
        labelPosition="bottom"
        [orientation]="(stepperOrientation | async)!"
        #stepper
      >
        <mat-step [stepControl]="personalInformationsForm" [editable]="false">
          <form
            [formGroup]="personalInformationsForm"
            class="personal-informations-form"
          >
            <ng-template matStepLabel>{{
              "usersManagmentContent.addUserContent.personalInformations"
                | translate
            }}</ng-template>

            <div class="last-first-name-items">
              <mat-form-field>
                <mat-label>{{
                  "usersManagmentContent.addUserContent.nom" | translate
                }}</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="{{
                    'usersManagmentContent.addUserContent.nomPlaceholder'
                      | translate
                  }}"
                  formControlName="lastName"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{
                  "usersManagmentContent.addUserContent.prenom" | translate
                }}</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="{{
                    'usersManagmentContent.addUserContent.prenomPlaceholder'
                      | translate
                  }}"
                  formControlName="firstName"
                  required
                />
              </mat-form-field>
            </div>
            <div class="registration-number-phone-items">
              <mat-form-field>
                <mat-label>{{
                  "usersManagmentContent.addUserContent.phoneNumber" | translate
                }}</mat-label>
                <input
                  type="tel"
                  matInput
                  placeholder="{{
                    'usersManagmentContent.addUserContent.phonePlaceholder'
                      | translate
                  }}"
                  formControlName="phone"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{
                  "usersManagmentContent.addUserContent.matricule" | translate
                }}</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="{{
                    'usersManagmentContent.addUserContent.matriculePlaceholder'
                      | translate
                  }}"
                  formControlName="registrationNumber"
                  required
                />
              </mat-form-field>
            </div>

            <mat-form-field>
              <mat-label>{{
                "usersManagmentContent.addUserContent.emailPlaceholder"
                  | translate
              }}</mat-label>
              <input
                type="email"
                matInput
                [(ngModel)]="emailValue"
                placeholder="{{
                  'usersManagmentContent.addUserContent.emailPlaceholder'
                    | translate
                }}"
                formControlName="email"
                required
              />
            </mat-form-field>
            <mat-form-field >
              <mat-label>{{
                "usersManagmentContent.addUserContent.loginPlaceholder"
                  | translate
              }}</mat-label>
              <input
                type="email"
                matInput
                placeholder="{{
                  'usersManagmentContent.addUserContent.loginPlaceholder'
                    | translate
                }}"
                [value]="emailValue"
                formControlName="login"
              />
            </mat-form-field>
            <div class="next-btn">
              <button color="primary"
              (click)="nextRoleForm()"
              mat-raised-button matStepperNext>
                {{ "usersManagmentContent.addUserContent.next" | translate }}
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="affecterRoleForm" [editable]="false">
          <form [formGroup]="affecterRoleForm" class="affecter-role-form">
            <ng-template matStepLabel>{{
              "usersManagmentContent.addUserContent.affecterRole" | translate
            }}</ng-template>
            <div class="label-role-category-items">
              <label>{{
                "usersManagmentContent.addUserContent.chooseRole" | translate
              }}</label>
              <mat-form-field>
                <mat-label>
                  {{
                    "usersManagmentContent.addUserContent.role" | translate
                  }}</mat-label
                >
                <mat-select
                  formControlName="role"
                  (selectionChange)="onValueSelected($event)"
                >
                  <mat-option
                    [value]="roleName | translate"
                    *ngFor="let roleName of roles"
                    >{{ roleName | translate }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <!-- <mat-form-field>
                <mat-label>
                  {{
                    "usersManagmentContent.addUserContent.category" | translate
                  }}</mat-label
                >
                <mat-select
                  [disabled]="isRoleExpert"
                  [formControlName]="'category'"
                >
                  <mat-option
                    [value]="categoryName"
                    *ngFor="let categoryName of categories"
                    >{{ categoryName }}</mat-option
                  >
                </mat-select>
              </mat-form-field> -->
              <button  (click)="addNewRow()" >
                <fa-icon [icon]="faCirclePlus"></fa-icon>
                </button>
                <div formArrayName="itemsRows" >
                  <div 
                  class="category-actions"
                  *ngFor="let itemrow of affecterRoleForm.controls['itemsRows']['controls']; 
                  let i=index"  
                  [formGroupName]="i">
                    <mat-form-field>
                      <mat-label>{{
                        "usersManagmentContent.addUserContent.category" | translate
                      }}</mat-label>
                      <input
                        type="text"
                        matInput
                        placeholder="{{
                          'usersManagmentContent.addUserContent.categoryPlaceholder'
                            | translate
                        }}"
                        formControlName="category"
                        required
                      />
                    </mat-form-field>
                    <button  
                   
                    (click)="deleteRow(i)" >
                      <fa-icon [icon]="faMinusCircle"></fa-icon>
                      </button>
                  </div>
                </div>
            </div>

            <div class="previous-next-btn">
              <button color="primary" mat-raised-button matStepperPrevious>
                {{
                  "usersManagmentContent.addUserContent.previous" | translate
                }}
              </button>
              <button color="primary"
              (click)="nextAssignUserForm()"
              mat-raised-button matStepperNext>
                {{ "usersManagmentContent.addUserContent.next" | translate }}
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="affecterUserForm" [editable]="true">
          <ng-template matStepLabel>
            {{ "usersManagmentContent.addUserContent.affectUser" | translate }}
          </ng-template>
          <form [formGroup]="affecterUserForm" class="affecter-user-form">
            <div class="form-items">
              <div class="site-plant-segment-items">
                <div class="form-item">
                  <mat-label>{{
                    "usersManagmentContent.addUserContent.chooseUserSite"
                      | translate
                  }}</mat-label>
                  <mat-form-field>
                    <mat-label>{{
                      "usersManagmentContent.addUserContent.siteName"
                        | translate
                    }}</mat-label>
                    <mat-select [formControlName]="'siteName'"></mat-select>
                  </mat-form-field>
                </div>

                <div class="form-item">
                  <mat-label>{{
                    "usersManagmentContent.addUserContent.chooseUserPlant"
                      | translate
                  }}</mat-label>
                  <mat-form-field>
                    <mat-label>{{
                      "usersManagmentContent.addUserContent.plantName"
                        | translate
                    }}</mat-label>
                    <mat-select [formControlName]="'plantName'"></mat-select>
                  </mat-form-field>
                </div>

                <div class="form-item">
                  <mat-label>{{
                    "usersManagmentContent.addUserContent.chooseUserSegment"
                      | translate
                  }}</mat-label>
                  <mat-form-field>
                    <mat-label>{{
                      "usersManagmentContent.addUserContent.segmentName"
                        | translate
                    }}</mat-label>
                    <mat-select [formControlName]="'segmentName'"></mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-item user-line">
                <mat-label>{{
                  "usersManagmentContent.addUserContent.selectUserLine"
                    | translate
                }}</mat-label>
                <mat-form-field>
                  <mat-label>{{
                    "usersManagmentContent.addUserContent.lineName" | translate
                  }}</mat-label>
                  <mat-select [formControlName]="'lineName'"></mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="previous-add-btn">
              <button color="primary" mat-raised-button matStepperPrevious>
                {{
                  "usersManagmentContent.addUserContent.previous" | translate
                }}
              </button>
              <button color="primary" mat-raised-button (click)="addUser()">
                {{ "usersManagmentContent.addUserContent.add" | translate }}
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>

      <div class="massive-addition-section">
        <p class="mat-mdc-card-title"
        >
          {{ "usersManagmentContent.addUserContent.massAddText" | translate }}
        </p>
  
        <file-uploader
        (sendUploadedFiles)="getUploadedFiles($event)"
        ></file-uploader>
      </div>

    </mat-card-content>
  </mat-card>
</div>
