.content{
    display:flex;
    flex-direction: column;
    gap:2rem;
    height: max-content;
    ::ng-deep xng-breadcrumb {
        align-self: self-start;
        .xng-breadcrumb-root {
          .xng-breadcrumb-list {
            .xng-breadcrumb-item {
              .xng-breadcrumb-trail {
                gap: 10px !important;
                font-family: "Poppins", sans-serif !important;
              }
              .xng-breadcrumb-link {
                gap: 5px !important;
                color: white;
              }
            }
          }
        }
      }
}