.content{
    display:flex;
    flex-direction: column;
    gap:2rem;
    height: 100vh;
    ::ng-deep xng-breadcrumb {
        align-self: self-start;
        .xng-breadcrumb-root {
            .xng-breadcrumb-list {
                .xng-breadcrumb-item {
                    .xng-breadcrumb-trail {
                        gap: 10px !important;
                        color: #ffffffe6;
                        font-family: "Poppins", sans-serif !important;
                    }
                    .xng-breadcrumb-link {
                        gap: 5px !important;
                        color: #ffffffe6;
                    }
                }
                .xng-breadcrumb-separator{
                    color: #ffffffe6;
                }
            }
        }
    }
    .btn-right{
        width: 15%;
    }
}

