@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  ::ng-deep.spinner:before {
    align-self: self-end;
    width: 10%;
    content: '';
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }