.kaizen-card-picture-before-after{
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 50px;
    .close-icon {
        cursor: pointer;
        font-size: 20px;
        align-self: self-end;
    }
    .cip-state-title{
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        margin-top: 20px;
        text-align: center;
    }

    .card-kaizen-upload-items{
        display: flex;
        flex-direction: column;
        // margin-top: 30px;
        // gap:15px;
        width: 100%;
        .card-kaizen-before-upload,.card-kaizen-after-upload{
            display:flex;
            align-items: center;
            cursor: pointer;
            padding-top: 30px;
            flex-direction: column;
            fa-icon{
                font-size: 5rem;
            }
            p{
                font-size: 15px;
            }
            .filename{
                font-size: 16px;
            }
        }
        hr{
            border: 2px dashed black;
            width: 100%;
        }
        .comment-title{
            align-self: self-start;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size:16px;
            margin-top: 10px;
        }
        textarea{
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
        }
    }
    .send-btn{
        float:end;
        align-self: self-end;
    }

}