<div class="content">
  <xng-breadcrumb>
    <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info">
      <mat-icon *ngIf="info">{{ info }}</mat-icon>
      <ng-container>{{ breadcrumb }}</ng-container>
    </ng-container>
  </xng-breadcrumb>

  <div class="buttons-right">
    <button (click)="addPlant()" mat-raised-button color="primary">
      {{ "plantContent.addPlan" | translate }}
    </button>
    <button (click)="downloadTemplate()" mat-raised-button color="primary">
      {{ "plantContent.downloadTemplate" | translate }}
    </button>
  </div>

  <div class="search-input">
    <div class="icon-input">
      <mat-icon>search</mat-icon>
      <input
        type="text"
        placeholder="{{ 'plantContent.search' | translate }}"
        (keyup)="searchByPlantOrSite($event)"
      />
    </div>
  </div>

  <div class="filters">
    <select id="site">
      <option selected disabled>{{ "plantContent.site" | translate }}</option>
      <option>Sousse</option>
      <option>Mateur Sud</option>
      <option>Manzel Hayet</option>
    </select>
    <select id="plant">
      <option selected disabled>{{ "plantContent.plant" | translate }}</option>
      <option>BMW</option>
      <option>AUDI</option>
      <option>MS1</option>
      <option>MN1</option>
      <option>MH1</option>
    </select>
  </div>
  <common-table
  [isEvenRowsChangeColor]="true"
  [isShowPaginator]="true"
    [dataSource]="dataSource"
    [tableColumns]="plansColumns"
    [editDeleteActions]="true"
    (action)="onTableAction($event)"
    class="mat-elevation-z8"
  ></common-table>
</div>
