.view-btn
{
    background-color: #5b922b;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 9999px;
    fa-icon{
        font-size: 12px;
        color:white;
    }
}