.content{
    height: 80vh;

    ::ng-deep xng-breadcrumb {
        align-self: self-start;
        .xng-breadcrumb-root {
            .xng-breadcrumb-list {
                .xng-breadcrumb-item {
                    .xng-breadcrumb-trail {
                        gap: 10px !important;
                        color: #ffffffe6;
                        font-family: "Poppins", sans-serif !important;
                    }
                    .xng-breadcrumb-link {
                        gap: 5px !important;
                        color: #ffffffe6;
                    }
                }
                .xng-breadcrumb-separator{
                    color: #ffffffe6;
                }
            }
        }
    }
    
mat-card{
    margin-top:50px;
    mat-card-content{
        display:flex;
        flex-direction: column;

        .type-month-filters{
            display: flex;
            gap : 20px;
            justify-content: flex-end;
            #type,#month
            {
                width: 15%;
            }
        }
        .notifications-items{
            display: flex;
            flex-direction: column;
            margin-top:30px;
            .notification-item{
                display: flex;
                align-items: center;
                gap:30px;
                padding-bottom:20px;
                padding-top:20px;
                width: 100%;
                border-bottom:2px #F0F0F0 solid;
                img{
                    width: 100px;
                }
                .notification-content{
                    display: flex;
                    flex-direction: column;
                    font-family: 'Poppins', sans-serif;
                    .notif-title{
                        font-size:20px;
                        font-weight: 600;
                        letter-spacing: 1.25;
                    }
                    .notif-description
                    {
                        font-size: 15px;
                        letter-spacing: 1.25;
                    }
                    .notif-date{
                        letter-spacing: 1.25;
                        font-size: 15px;
                        color:var(--color-blue-light);
                    }
                }
      
            }
        }
    }
}
}
