.content {
    display: flex;
    flex-direction: column;
    ::ng-deep xng-breadcrumb {
      align-self: self-start;
      .xng-breadcrumb-root {
          .xng-breadcrumb-list {
              .xng-breadcrumb-item {
                  .xng-breadcrumb-trail {
                      gap: 10px !important;
                      color: #ffffffe6;
                      font-family: "Poppins", sans-serif !important;
                  }
                  .xng-breadcrumb-link {
                      gap: 5px !important;
                      color: #ffffffe6;
                  }
              }
              .xng-breadcrumb-separator{
                  color: #ffffffe6;
              }
          }
      }
  }
    .edit-segment-card{
        display: flex;
        align-self: center;
        width: 70%;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 50px;
        padding-bottom: 20px;
        margin-top:150px;
        mat-card-content {
            display: flex;
            flex-direction: column;
            gap: 30px;
            form {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                width: 100%;
            }
            .save-btn {
                align-self: self-end;
                float: right !important;
            }
        }
        mat-card-actions {
            padding-right: 16px;
            display: flex;
            justify-content: flex-end;
        }
    }
    
}