.content
{
    display: flex;
    flex-direction: column;
    padding-top:50px;
    padding-left:50px;  
    .header-section{
        display: flex;
        gap:30px;
        align-items: center;
        justify-content: center;
        img{
            width: 10%;
        }
        .welcome-employee
        {
            font-size: 30px;
            font-family: 'Roboto-Bold';
        }
    }

    mat-card{
        width:80%;
        align-self: center;
        mat-card-title{
           font-size: 25px;
           color:var(--color-blue-light); 
        }
        mat-card-content
        {
            padding-top:100px;
            padding-left:100px;
            padding-right:100px;
            padding-bottom: 50px;
            form{
                display: flex;
                flex-direction: column;
                gap:30px;
                .ideas-labels{
                    display: flex;
                    justify-content: space-between;
                    mat-label
                    {
                        font-size: 20px;
                        font-family : 'Roboto-Bold';
                    }
                }
                textarea{
                    font-size: 20px;
                    width:100%;
                    border:1px solid black;
                    border-radius: 5px;
                    outline:none;
                    padding-top:20px;
                    padding-bottom:20px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                .select-superior-items{
                    display: flex;
                    width: 100%;
                    align-items: flex-start;
                    justify-content: space-between;
                    mat-select{
                        padding: 10px 20px 10px 11px;
                        box-sizing: border-box;
                        border: 0.5px solid black;
                        border-radius: 5px;
                        font-size: 15px;
                        width: 35%;
                    }
                    .select-superior-fr{
                        width:37%;
                        align-self: self-start;
                    }
                    mat-label
                    {
                        font-size: 20px;
                        font-family : 'Roboto-Bold';
                        line-height: 30px;
                    }
                }
            }
        }
        mat-card-actions{
            display: flex;
            align-self: self-end;
            padding-bottom:50px;
            button{
                font-family: 'Roboto-Regular';
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 213px) {
.content
{
    width: 145vw;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    gap:1rem;
    .header-section{
        display: flex;
        flex-wrap: wrap;
        gap:10px;
        width:100%;
        img{
            width: 60px;
            height: 15px;
        }
        .welcome-employee
        {
            font-size: 15px;
        }
    }

    mat-card{
        width:100%;
        mat-card-title{
           font-size: 15px;
        }
        mat-card-content
        {
            padding:0;
            form{
                display: flex;
                flex-direction: column;
                gap:30px;
                .ideas-labels{
                    display: flex;
                    flex-direction: column;
                    .enter-idea-fr{
                        align-self: self-start;
                        font-size: 10px;

                    }           
                    .enter-idea-ar{
                        align-self: self-end;
                        font-size: 10px;

                    }
                }
                textarea{
                    font-size: 10px;
                    padding:10px;
                }
                .select-superior-items{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap:15px;
                    
                mat-select{
                    padding: 6px 10px 6px 10px;  
                    font-size: 10px;
                    width:100%;

                }
            
                    .select-superior-ar{
                        font-size: 10px;
                        align-self: self-end;
                        width:100%;
                    }               
                    .select-superior-fr{
                        width:100%;
                        font-size: 10px;
                        align-self: self-start;
                        line-height: 16px;
                    }
                }
            }
        }
        mat-card-actions{
            padding: 25px;
            ::ng-deep .mdc-button {
                height: 28px;
            }
            ::ng-deep .mdc-button__label {
                font-size: 10px;
            }
        }
    }
}
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
  
  ::ng-deep.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }