<div class="content">
  <xng-breadcrumb>
    <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info">
      <mat-icon *ngIf="info">{{ info }}</mat-icon>
      <ng-container>{{ breadcrumb | translate}}</ng-container>
    </ng-container>
  </xng-breadcrumb>
  <mat-card>
    <mat-card-title>
      {{ "ideasContent.ideaDetailsContent.ideaDetailsText" | translate }}
    </mat-card-title>
    <mat-card-content>
      <div class="informations">
        <div class="employee-informations">
          <span class="title">
            {{
              "ideasContent.ideaDetailsContent.employeeInformations" | translate
            }}
            :</span
          >
          <div class="matricule">
            <p>
              {{ "ideasContent.ideaDetailsContent.matricule" | translate }} :
            </p>
            <p>{{ideaDTO?.matricule}}</p>
          </div>
          <div class="segment">
            <p>{{ "ideasContent.ideaDetailsContent.segment" | translate }} :</p>
            <p>{{ideaDTO.segment}}</p>
          </div>
          <div class="line">
            <p>{{ "ideasContent.ideaDetailsContent.line" | translate }} :</p>
            <p>{{ideaDTO.line}}</p>
          </div>
        </div>
        <div class="idea-informations">
          <span class="title">
            {{
              "ideasContent.ideaDetailsContent.informationIdee" | translate
            }}
            :</span
          >
          <div class="date">
            <p>
              {{ "ideasContent.ideaDetailsContent.ideeDate" | translate }} :
            </p>
            <p>{{ideaCreatedDate}}</p>
          </div>
          <div class="category">
            <p>{{"ideasContent.ideaDetailsContent.category"|translate}} :</p>
            <p *ngIf="ideaCategory !== 'NONE'">{{ideaCategory}}</p>
          </div>
          <div class="motifs">
            <p>{{ "ideasContent.ideaDetailsContent.motif" | translate }} :</p>
            <p *ngIf="ideaMotif !== 'NONE'">{{ideaDTO.motif }}</p>
          </div>
          <div class="contre-maitre">
            <p>
              {{ "ideasContent.ideaDetailsContent.contreMaitre" | translate }} :
            </p>
            <p>{{ideaDTO.contreMaitre}}</p>
          </div>
          <div class="chef-segment">
            <p>
              {{ "ideasContent.ideaDetailsContent.chefSegment" | translate }} :
            </p>
            <p>{{ideaDTO.chefSegment}}</p>
          </div>
          <div class="expert">
            <p>{{ "ideasContent.ideaDetailsContent.expert" | translate }} :</p>
            <p>{{ideaDTO.expert}}</p>
          </div>
        </div>
        <div class="import-kaizen-card" *ngIf="currentRole === 'CHEF_SEGMENT' || currentRole === 'EXPERT'">
          <div class="images-before-and-after" *ngIf="imageBefore !== null && imageAfter !== null">
            <fa-icon [icon]="faDownload"></fa-icon>
            <div class="images">
              <a
                (click)="openKaizenImage(imageBefore)"
              >
                <p>{{imageBefore}}</p>
              </a>
              <a
              (click)="openKaizenImage(imageAfter)"
              >
                <p>{{imageAfter}}</p>
              </a>
            </div>
          </div>
        </div>

        <div class="export-kaizen-card" *ngIf="currentRole === 'OPEX'">
          
          <div class="items" (click)="getKaizenCardByName(ideaDTO?.kaizen)">
            <fa-icon [icon]="faExport" ></fa-icon>
            <a class="export-text"
            >{{"ideasContent.ideaDetailsContent.exportKaizenCard"|translate}}</a>
            <p class="filename">{{ideaDTO?.kaizen}}</p>
          </div>

        </div>
      </div>

        <textarea matInput 
        [disabled]="true"
        [(ngModel)]="ideaDTO.description"></textarea>
      <div class="idea-note-state" *ngIf="currentRole === 'ADMIN' || currentRole === 'EXPERT' || currentRole === 'OPEX'">
        <div class="idea-note">
          <div class="impact-originalite">
            <div class="originality">
              <label
                >{{
                  "ideasContent.ideaDetailsContent.ideaOriginality" | translate
                }}:</label
              >
              <input type="number" [(ngModel)]="originaliteNote" 
              [disabled]="true"
              name="originalite" placeholder="..." />
              <span>/10</span>
            </div>
            <div class="impact">
              <label
                >{{
                  "ideasContent.ideaDetailsContent.plantImpact" | translate
                }}:</label
              >
              <input type="number" 
              [disabled]="true"
              [(ngModel)]="impactNote"
               name="impact" placeholder="..." />
              <span>/10</span>
            </div>
          </div>
          <p>{{ "ideasContent.ideaDetailsContent.totalNote" | translate }} {{noteTotal}}</p>
        </div>
      </div>
      <div
        class="idea-validation-form-items"
        *ngIf="currentRole === 'CHEF_SEGMENT'"
      >
        <div class="validation-generalizable-items">
          <div class="item">
            <span class="text">{{
              "ideasContent.ideaValidationContent.ideaValidation" | translate
            }}</span>
            <mat-radio-group class="choice" disabled="true" [(ngModel)]="validation">
              <mat-radio-button    value="yes" >{{
                "ideasContent.ideaValidationContent.yes" | translate
              }}</mat-radio-button>
              <mat-radio-button value="no">{{
                "ideasContent.ideaValidationContent.no" | translate
              }}</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="item">
            <span class="text">{{
              "ideasContent.ideaValidationContent.generalizable" | translate
            }}</span>
            <mat-radio-group class="choice" disabled="true" 
            [(ngModel)]="generalization">
              <mat-radio-button
              value="yes">{{
                  "ideasContent.ideaValidationContent.yes" | translate
                }}</mat-radio-button
              >
              <mat-radio-button
              value="no"
                >{{
                  "ideasContent.ideaValidationContent.no" | translate
                }}</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>

        <div class="idea-note">
            <div class="impact-originalite">
              <div class="originality">
                <label
                  >{{
                    "ideasContent.ideaDetailsContent.ideaOriginality" | translate
                  }}:</label
                >
                <input type="number" name="originalite" disabled
                [(ngModel)]="originaliteNote"
                placeholder="..." />
                <span>/10</span>
              </div>
              <div class="impact">
                <label
                  >{{
                    "ideasContent.ideaDetailsContent.plantImpact" | translate
                  }}:</label
                >
                <input type="number" disabled  [(ngModel)]="impactNote" name="impact" placeholder="..." />
                <span>/10</span>
              </div>
            </div>
            <p>{{ "ideasContent.ideaDetailsContent.totalNote" | translate }} {{ noteTotal }}</p>
          </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
