<div class="content">
    <xng-breadcrumb>
      <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info">
        <mat-icon *ngIf="info">{{ info }}</mat-icon>
        <ng-container>{{ breadcrumb }}</ng-container>
      </ng-container>
    </xng-breadcrumb>
    <div class="buttons-right">
      <button (click)="addNewUser()" mat-raised-button color="primary">
        {{ "usersManagmentContent.addUser" | translate }}
      </button>
      <button
        (click)="downloadTemplate()"
        mat-raised-button
        color="primary"
      >
        {{ "usersManagmentContent.downloadTemplate" | translate }}
      </button>
      <button
      (click)="export()"
      mat-raised-button
      color="primary"
    >
      {{ "usersManagmentContent.export" | translate }}
    </button>
    </div>
  
    <div class="search-input">
      <div class="icon-input">
        <mat-icon>search</mat-icon>
        <input
          type="text"
          placeholder="{{ 'usersManagmentContent.search' | translate }}"
          (keyup)="searchUser($event)"
        />
      </div>
    </div>
  
    <div class="filters">
      <select id="role">
        <option selected disabled>{{ "usersManagmentContent.role" | translate }}</option>
      </select>
      <select id="site">
        <option selected disabled>{{ "usersManagmentContent.site" | translate }}</option>
      </select>
      <select id="plant">
        <option selected disabled>{{ "usersManagmentContent.plant" | translate }}</option>
      </select>
      <select id="segment">
        <option selected disabled>{{ "usersManagmentContent.segment" | translate }}</option>
      </select>
      <select id="line">
        <option selected disabled>{{ "usersManagmentContent.line" | translate }}</option>
      </select>
    </div>
  
    <mat-card>
        <mat-card-title>
            {{"usersManagmentContent.usersList" |translate}}
          </mat-card-title>
        <mat-card-content>
    
          <div class="users-table">
            <common-table
            [isEvenRowsChangeColor]="true"
            [isShowPaginator]="true"
            [dataSource]="usersData"
            [tableColumns]="usersColumns"
            [editDeactivateActions]="true"
            (action)="onTableAction($event)"
            class="mat-elevation-z8"
          ></common-table>
          </div>
    
    
        </mat-card-content>
      </mat-card>

  
  </div>
  